/*
*{
    -font-color: black;
    -back: white;
    -scroll-back: lightgray;
    -armed-back: #ddd;
    -cell-back: white;
	-button-back: #eee;
    -border-cell: #333;
    -border: #121212;
    -menu-border: #666;
	-armed-border: #080808;

	-scroll-fill: #bbb;
	-thumb: #bababa;

    -corner: white;
    -selected: #eee;
    -filler-start: #e7e7e7;
    -filler-end: #efefef;

}
.dark */* {
    -font-color: #ccc;
    -back: #191919;
    -scroll-back: #666;
    -armed-back: #353535;
    -cell-back: #5b5454;
	-button-back: #2b2b2b;
    -border-cell: #aaa;
    -border: #7a7a7a;
    -menu-border: #666;
	-armed-border: #aaa;

	-scroll-fill: #555;
	-thumb: #222;

    -corner: #000;
    -selected: #126;
    -filler-start: #292929;
    -filler-end: #131313;
}

* {
	-fx-font-family: 'FiraCode-Regular';
	-fx-text-fill: -font-color;
}

.tab-pane, .tab-header-area, .headers-region, .tab-header-background, .control-button-tab, .tab-button-down, .arrow {
	-fx-background-color: -back;
}

.tab-content-area {
	-fx-border-color: -border;
	-fx-border-insets: 0;
	-fx-border-width: 1px;
	-fx-padding:5,5,5,5;
}

:focused {
	-fx-border: -scroll-back;
}

.tab {
	-fx-background-color: -back;
	-fx-border-color: -border;
	-fx-border-radius: .5em .5em 0 0;
	-fx-border-insets: 0;
	-fx-border-width: 1px;
}

.l-r-padding{
	-fx-padding: 0 10px 0 10px;
}
.all-padding{
	-fx-padding:10px 15px 10px 15px;
}
.root, .stack-pane, .viewport{
    -fx-background-color: -back;
}

.header{
    -fx-min-height:30px;
    -fx-font-size:24pt;
    -fx-text-alignment: center;
}
.app-back{
    -fx-background-color:-back;
}
.base{
    -fx-padding:5,10,5,10;
}
.root{
	-fx-padding:0;
	-fx-background-insets:0;
	-fx-border-insets:0;
	-fx-border-width:0;
}

.scroll-bar {
    -fx-background-color: -scroll-back;
    -fx-text-fill: -scroll-fill;
}
.thumb{
    -fx-background-color: -thumb;
    -fx-text-fill: -thumb;
}

.button{
    -fx-background-color:-button-back;
    -fx-border-color:-border;
    -fx-border-radius:2em;
    -fx-background-radius:2em;
    -fx-min-width:10em;
}
.button:armed{
    -fx-border-color: -armed-border;
    -fx-border-width:1px;
    -fx-background-color: -armed-back;
}
.menu-bar, .context-menu, .text-area .content{
	-fx-background-color: -back;
	-fx-border-color:rgba(0,0,0,0) rgba(0,0,0,0) -border rgba(0,0,0,0);
}

.text-field, .text-box, .choice-box{
	-fx-background-color:-back;
	-fx-border-color: -border;
}

.menu-bar{
	-fx-background-insets:0px;
	-fx-padding:0px;
}

.menu{
	-fx-height:12px;
	-fx-border-color: -menu-border;
	-fx-border-width: 0px 1px 1px 1px;
	-fx-border-style:solid outside;
}

.scroll-pane{
	-fx-background-color:transparent;
}
