
.filler{
    -fx-background-color: linear-gradient(to bottom, -filler-start, -filler-end);
}

.table-row-cell:selected, .table-row-cell:odd:selected{
	-fx-background-color: -selected;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.mod-table {
    -fx-background-color:transparent;
}

.mod-table:focused{
    -fx-background-color:transparent;
}

.mod-table .column-header-background{
    -fx-background-color: linear-gradient(to bottom, -filler-start, -filler-end);
}
.mod-table .column-header-background .label{
     -fx-background-color: transparent;
 }

.mod-table .column-header {
    -fx-background-color: transparent;
}
.table-row-cell{
    -fx-background-color: -cell-back;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: .0em; /* 0 */
    -fx-border-thickness: 0 1 1 1;
    -fx-border-color: -border-cell;
}

.table-row-cell:odd{
    -fx-background-color: -cell-back;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-border-thickness: 0 1px 1px 1px;
    -fx-border-color: -border-cell;
}

.corner{
    -fx-background-color: -corner;
}

.button-list{
    -fx-padding: 4px 3px 4px 3px;
    -fx-border-insets:4px 3px 4px 3px;
    -fx-background-insets:4px 3px 4px 3px;
}